[submodule "build/antelopelocal"]
	path = build/antelopelocal
	url = anfadmin.ucsd.edu:/anf/software/git/antelopelocal.git
[submodule "build/anfsrc"]
	path = build/anfsrc
	url = anfadmin.ucsd.edu:/anf/software/git/anfsrc.git
[submodule "build/contrib"]
	path = build/contrib
	url = git://github.com/antelopeusersgroup/antelope_contrib.git
[submodule "build/vorb"]
	path = build/vorb
	url = anfadmin.ucsd.edu:/anf/software/git/antelope_vorb.git
